/* http://forum.jquery.com/topic/text-field-inline-with-submit-button */

/*
#form {
  position: relative;
}

#input, #submit {
  position: absolute;
}

#input {
  left: 0px;
  right: 50px;
  width: auto;
}

#form #submit {
  right: 0px;
  width: 50px;
}
*/
